﻿#login-dp {
    min-width: 270px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .help-block {
        font-size: 12px
    }

    #login-dp .bottom {
        background-color: rgba(255,255,255,.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .social-buttons {
        margin: 12px 0
    }

.social-buttons i {
    color: white;
}

.social-buttons img {
    margin-left: 0;
    padding-left: 0;
    width: 20px;
    height: 20px;
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc
    }

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

    .btn-tw:hover {
        color: #fff;
        background-color: #59b5fa;
    }

@media(width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}

.heading p {
    color: black;
}

.loginbar {
    padding-left: 30px;
}


.elements{
    height:100%;
    background-color:white;
}

.btnAdmin{
    width: 100%;
}

.navbarAdmin{
    color:#f4f4f4;
}

.buttonAdminStyle li a{
        color: white;

}

.textHeader{
    margin-top: 20px;
    text-align: center;
}


.buttonStyle{
    color: white;
}

.partialLogo{
    color:white;
}

.header{
    margin-top:10px;
}