﻿.login-page, .register-page {
    background: url(../img/bg-2.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.login-page .box-login, .register-page .box-register {
    width: 360px;
    background-color: #fff;
    margin: 6% auto;
    position: absolute;
    right: 0;
    left: 0;
    border-top: 3px solid #29B6F6
}

@media (max-width:768px) {
    .login-page .box-login, .register-page .box-register {
        width: 90%;
        margin-top: 20px
    }
}

.login-page .box-login h3, .register-page .box-register h3 {
    text-align: center
}

.login-page .box-login-body, .register-page .box-register-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666
}

.login-page .box-login-msg, .register-page .box-register-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px
}

.login-page .login-form .form-action, .register-page .register-form .form-action {
    border-top: 1px solid #e4e9f0;
    padding-top: 1.42rem;
    margin: 1.42rem 0
}

.login-page .login-form .form-action button, .register-page .register-form .form-action button {
    color: #000
}

.login-page .login-form .form-action button:hover, .register-page .register-form .form-action button:hover {
    background-color: #DDD;
    color: #000
}

.login-page .login-form .form-action input[type=submit]:hover, .register-page .register-form .form-action input[type=submit]:hover {
    border-color: rgba(0, 0, 0, .2)
}