﻿#modelDoctor  {
    border: 1px solid;
    border-radius: 3px;
    background: #F2F2F2;
    width: 350px;
    display: none;
    position: absolute;
}


#modelProcedure {
    border: 1px solid;
    border-radius: 3px;
    background: #F2F2F2;
    width: 350px;
    display: none;
    position: absolute;
}


#modelCalendar {
    border: 1px solid;
    border-radius: 3px;
    background: #F2F2F2;
    width: 350px;
    display: none;
    position: absolute;
}


#modelCalendar {
    border: 1px solid;
    border-radius: 3px;
    background: #F2F2F2;
    width: 350px;
    display: none;
    position: absolute;
}

.leftData>.row>.col-2{
}
.leftData>.row>.col {
}
.doctorFirstName>h3{
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    margin-left: 5px;
}
.imageSize {
    width:150x;
}
.doctorLastName>h3 {
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    margin-left: 5px; 
}

.doctorAge>h3 {
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    margin-left: 5px;
}



.doctorInformation{
    margin-top:20px;
}


.temp{
    margin:0px;
    padding: 0px;
    float:right;
}



#doctorPicture{
    height: 150px;
    width: 120px;
    float:right;
}

.doctorInformation>p {
    padding : 0 ;
    margin: 0;
}
