﻿@using MedicalData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Administrator"))
    {
        <li>
            <a class="nav-link nav-item" style="color: black;" asp-area="" asp-controller="Admin" asp-action="Index">Administrator</a>
        </li>
    }
}


