@using Microsoft.AspNetCore.Identity
@using Medical.Models
@using MedicalData.Models
@using Microsoft.AspNetCore.Http

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navtextstyle">
        <ul class="nav navbar-nav">
            <li class="nav-link nav-item  ">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav ">
        @*        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@
@*        <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl=@HttpContext.Current.Request.URL.ToString()>Log in</a></li>*@
        <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl=@Url.RouteUrl(ViewContext.RouteData.Values)>Log in</a></li>
@*        <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl=@Context.Request.Host@Context.Request.Path>Log in</a></li>*@
    </ul>
}
