﻿@model Medical.ViewModels.CrudModel

@{
    ViewBag.Title = "Create Crud";
    Layout = "_Layout";
}

<h2>Create</h2>

<h4>Controller and Views</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableName" class="control-label"></label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContextName" class="control-label"></label>
                <input asp-for="ContextName" class="form-control" />
                <span asp-validation-for="ContextName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContextDirectory" class="control-label"></label>
                <input asp-for="ContextDirectory" class="form-control" />
                <span asp-validation-for="ContextDirectory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelDirectory" class="control-label"></label>
                <input asp-for="ModelDirectory" class="form-control" />
                <span asp-validation-for="ModelDirectory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

