﻿body {
    font-family: Arial, sanf-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}

.navbar {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.headerbanner {
    float: right;
    margin-right: 45px;
}

    .headerbanner:first-child {
        margin-right: 80px;
    }

.navmystyle {
    padding-top: 28px;
    margin-left: 80px;
}

.navtextstyle li a {
    color: #262626;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
}

.dropdown-divider {
    margin: 0, auto;
    padding: 0, auto;
}

.banner {
    margin: 0, auto;
    height: 800px;
}

.fit {
    max-width: 99%;
    max-height: 99%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bannertext p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: auto;
    padding: auto;
    z-index: 2;
    position: absolute;
}

.h6 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.bannertext {
    font-size: 48px;
    margin: 0;
    padding: 0;
    width: auto;
    padding: auto;
    z-index: 2;
    text-align: center;
}

.bannerprincipaletext h5 {
    font-size: 45px;
    font-weight: bold;
    font-family: Trebuchet MS;
    padding-bottom: 30px;
}

.bannerprincipaletext p {
    font-size: 17px;
    font-family: Trebuchet MS;
}

.bannertext {
    margin-top: 150px;
    margin-left: 75px;
    position: absolute;
    text-align: center;
}

.bannerImage {
    z-index: 0;
    margin: auto;
    padding: auto;
    width: 100%;
    height: auto;
}

.bodycontent {
    position: relative;
}

.upperForNavBar {
    margin-top : 50px;
}

#buttonReadMore {
    z-index: 2;
    background: #1a9bdc;
    color: #ffffff;
    border-radius: 30px;
    display: block;
    width: 200px;
    padding: 10px 0;
    font-family: Arial;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    height: 40;
    display: block;
    margin: 0 auto;
    margin-top: 43px;
}

    #buttonReadMore:hover {
        background: #06cfc2;
    }

.servicecol img {
    padding-bottom: 20px;
}

.serviceStyle {
    text-align: center;
    color: #ffffff;
}

.servicecol {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 76px;
    padding-bottom: 50px;
    background: #43b1d2;
    /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #43b1d2, #37c3a8);
    /* Standard syntax (must be last) */
}

    .servicecol:last-child {
        background: #37c3a8;
    }

.servicetext h2 {
    font-weight: bold;
}

.textchoose {
    text-align: center;
}

    .textchoose h1 {
        font-weight: bold;
        padding-top: 100px;
        padding-bottom: 35px;
        color: #494949;
    }

    .textchoose h6 {
        color: #8f8f8f;
    }

.messagetext {
    padding-bottom: 40px;
}

.contextdata {
    text-align: center;
}



.chooseup {
    margin-left: -50px;
    margin-right: -50px;
}

.bannerwhy img {
    float: left;
}

.bannerwhy h3 {
    color: #6f6f6e;
    padding-top: 20px;
    float: right;
    padding-right: 100px;
}

.bannerwhy h6 {
    line-height: 30px;
    padding-top: 85px;
    color: #6f6f6e;
    text-align: left;
}

.allbanner {
    position: absolute;
    margin-top: 100px;
}

.bannergrid {
    text-align: center;
}

.bannergrid .col {
        margin-top: 100px;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}


.nav-item-bar {
    color:black;
}