﻿@using System.Collections.Generic
@using System.Linq
@using MedicalData.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/LoginStyle.css">
        <!--===============================================================================================-->
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/LoginStyle.css">
    </environment>

</head>

<body>
    <div class="skin-blue login-page">
        @*        <div class="container-login100" style="background-image: url('\\LoginStyles/images/bg-01.jpg');">*@
        <div class="box-login">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Login
                    </span>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-grup">
                        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                            <label asp-for="Email" class="label-input100">Username</label>
                            <input asp-for="Email" class="input100" type="text" placeholder="Type your username">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <label asp-for="Password" class="label-input100">Password</label>
                        <input asp-for="Password" class="input100" type="password" placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a asp-action="ForgotPassword">
                            Forgot password?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="txt1 text-center p-t-54 p-b-20">
                        <span>
                            Or Sign Up Using
                        </span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>

                    <div class="flex-col-c p-t-155">
                        <span class="txt1 p-b-17">
                            Or Sign Up Using
                        </span>

                        <a asp-action="Register" class="txt2">
                            Sign Up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/LoginStyles/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginStyles/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/js/main.js"></script>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</body>
</html>




