﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment include="Development">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="~/LoginStyles/images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/css/util.css">
        <link rel="stylesheet" href="~/LoginStyles/css/main.css">
        <!--===============================================================================================-->
    </environment>
    <environment exclude="Development">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="~/LoginStyles/images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/LoginStyles/css/util.css">
        <link rel="stylesheet" href="~/LoginStyles/css/main.css">
        <!--===============================================================================================-->>
    </environment>

</head>

<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('\\LoginStyles/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Register
                    </span>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-grup">
                        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                            <label asp-for="FirstName" class="label-input100">Firstname</label>
                            <input asp-for="FirstName" class="input100" type="text" placeholder="Type your Firstname">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>
                    <div class="form-grup">
                        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                            <label asp-for="LastName" class="label-input100">Username</label>
                            <input asp-for="LastName" class="input100" type="text" placeholder="Type your Lastname">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>
                    
                    <div class="form-grup">
                        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                            <label asp-for="Email" class="label-input100">Email</label>
                            <input asp-for="Email" class="input100" type="text" placeholder="Type your email">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>
                    

                    <div class="form-grup">
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <label asp-for="Password" class="label-input100">Password</label>
                            <input asp-for="Password" class="input100" type="password" placeholder="Type your password">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="form-grup">
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <label asp-for="ConfirmPassword" class="label-input100">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="input100" type="password" placeholder="Confirm password">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="text-right p-t-8 p-b-31"></div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                    </div>

                 
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/LoginStyles/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginStyles/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginStyles/js/main.js"></script>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</body>
</html>




