﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutIndexPage";
}

<!-- BannerImage -->
<section class="upperForNavBar">
    <div class="bodycontent">
        <div class="container">
@*            <div class="bannertext">*@
@*                <div class="bannerprincipaletext ">*@
@*                    <h5>*@
@*                        We have Best Medicare*@
@*                        <br>plan options for you*@
@*                    </h5>*@
@*                </div>*@
@*                <h4>Sed ut perspiciatis unde omnis iste natus error sit vo</h4>*@
@*                <h4>accusantium doloremque laudantium.</h4>*@
@*                <a href="#" id="buttonReadMore">Read more</a>*@
@*            </div>*@
        </div>

        <div class=" text-center fit ">
            <img src="img/mainbanner.png" class="bannerImage" alt="..." />
        </div>
    </div>

</section>
<!-- end BannerImage -->
<!-- Services Data -->
<section>
    <div class="row serviceStyle">
        <div class="col servicecol">
            <img src="img/img1.png" alt="">
            <div class="servicetext">
                <h3>Best Treatment</h3>
                <h6>Sed ut perspiciatis unde omnis iste natus error </h6>
                <h6> voaccusantium doloremque laudantium.</h6>
            </div>
        </div>
        <div class="col servicecol">
            <img src="img/img2.png" alt="">
            <div class="servicetext">
                <h3>Emergency Help</h3>
                <h6>Sed ut perspiciatis unde omnis iste natus error </h6>
                <h6> voaccusantium doloremque laudantium.</h6>
            </div>
        </div>
        <div class="col servicecol">
            <img src="img/img3.png" alt="">
            <div class="servicetext">
                <h3>Medical staff</h3>
                <h6>Sed ut perspiciatis unde omnis iste natus error </h6>
                <h6> voaccusantium doloremque laudantium.</h6>
            </div>
        </div>
        <div class="col servicecol">
            <img src="img/img4.png" alt="">
            <div class="servicetext">
                <h3>Qualified doctors</h3>
                <h6>Sed ut perspiciatis unde omnis iste natus error </h6>
                <h6> voaccusantium doloremque laudantium.</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Services Data -->
<!-- Why Chose Us -->
<div class="chooseup container-fluid">
    <div class="textchoose">
        <h1>
            Why Choose Us ?
        </h1>
        <div class="messagetext">
            <h6>Sed ut perspiciatis unde omnis iste natus error voaccusantium doloremque laudantium </h6>
            <h6>Sed ut perspiciatis unde omnis iste natus error laudantium. </h6>
        </div>
    </div>

    <div class="container bannergrid">
        <div class="row">
            <div class="col">
                <div class="bannerwhy">
                    <img src="img/img5.png" alt="">
                    <h3>Professional</h3>
                    <h6>Sed ut perspiciatis unde omnis iste natus error sit vo accusantium doloremque laudantium.</h6>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="bannerwhy">
                    <img src="img/img6.png" alt="">
                    <h3>Professional</h3>
                    <h6>Sed ut perspiciatis unde omnis iste natus error sit vo accusantium doloremque laudantium.</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="contextdata ">
                    <img src="img/whychoose.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="bannerwhy">
                    <img src="img/img7.png" alt="">
                    <h3>Professional</h3>
                    <h6>Sed ut perspiciatis unde omnis iste natus error sit vo accusantium doloremque laudantium.</h6>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="bannerwhy">
                    <img src="img/img8.png" alt="">
                    <h3>Professional</h3>
                    <h6>Sed ut perspiciatis unde omnis iste natus error sit vo accusantium doloremque laudantium.</h6>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- End Why Chose Us -->