﻿@model Medical.Models.HomeViewModels.ClientOrderModel
@using Medical.Models.HomeViewModels
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Make a registration    ";
}

<link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />
@*<script type="text/javascript" src="script.js"></script>*@
<link rel="stylesheet" href="~/css/cssbooking.css">
<link href="~/css/modelDoctor.css" rel="stylesheet" />

<header>
    <div class="container heading">
        <h1>Dentist Booking form</h1>
    </div>
</header>
<section>

    <div class="tabledata">
        <div class="firstcontainer">
            <div>

                <form asp-controller="Home" asp-action="test2" method="post">
                    <div asp-validation-summary="All" style="color:red"></div>

                    <div class="row">
                        <div class="col-6">
                            <h3>Choose a procedure:</h3>
                        </div>
                        <div class="col">
                            <select asp-for="ProcedureName" id="procedureNameSelect" class="form-control procedurebox" placeholder="Select" required>
                                <option value="" disabled selected>Choose a procedure</option>
                            </select>
                            <img src="~/img/help.ico" id="helpbutton" class="infoProcedure" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h3>Choose a doctor:</h3>
                        </div>
                        <div class="col">
                            <select asp-for="DoctorName" id="doctorName" class="form-control procedurebox" autocomplete="off" required id="">
                                <option value="" disabled selected>Choose a doctor</option>
                            </select>
                            <img src="~/img/help.ico" id="helpbutton" class="infoDoctor" alt="">

                        </div>
                    </div>

                    @*                            START DATEPICKER*@
                    <div class="row">
                        <div class="col-6">
                            <h3>Check doctor availability:</h3>
                        </div>
                        <div class="col">
                            <input asp-for="DateTimeSince" type="text" required id="dayBox" class="form-control procedureboxava" autocomplete="off" name="DateTimeSince">
                            <img src="~/img/calendar.ico" class="calendar" id="myBtn" alt="">
                            <img src="~/img/help.ico" id="helpbutton" class="infoCalendar" class="" alt="">



                            <div class="tooltip">
                                Hover over me
                                <span class="tooltiptext">Tooltip text</span>
                            </div>

                            @*                                TEST CODE*@
                            <div id="myModal" class="modal">
                                <div class="" id="myModal" class="" style="width: 500px">
                                    <div class="modal-content3">
                                        <!-- Close -->
                                        <span class="close">&times;</span>

                                        <div class="picker__wrap">
                                            <div class="picker__box">
                                                <div class="picker__header">
                                                    <div class="picker__month" id="calendar-month-year">August</div>
                                                    <div class="picker__year" id="calendar-year">2014</div>
                                                    <div class="picker__nav--prev" data-nav="-1" role="button" onclick="previousMonth()" aria-controls="input_01_table" title="Previous month">

                                                    </div>
                                                    <div class="picker__nav--next" id="changeMonth" onclick="nextMonth()" data-nav="1" role="button" aria-controls="input_01_table"
                                                         title="Next month">
                                                    </div>
                                                </div>
                                                <div id="calendar-dates">
                                                </div>
                                                <div class="addTimer" id="addTimer">
                                                    <div class="dropdown-divider"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                                @*                                END TEST CODE*@
                            </div>
                        </div>
                    </div>

                    @*                            END DATEPICKER*@

                    <div class="dropdown-divider"></div>

                    <div class="secondcontainer">
                        <div class="row">
                            <div class="col-6">
                                <h3>Your name, surname</h3>
                            </div>
                            <div class="col">

                                <input asp-for="FullName" type="text" class="form-control procedureboxava" required id="nametext">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h3>Your Phone Number</h3>
                            </div>
                            <div class="col">
                                @*                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                                <input asp-for="PhoneNumber" type="tel" class="form-control procedureboxava" id="nametext" autocomplete="off" required id="telNo">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h3>Your Email:</h3>
                            </div>
                            <div class="col">


                                <input asp-for="Email" class="form-control procedureboxava " required id="nametext" autocomplete="off" placeholder="Enter your email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6"> </div>
                        <div class="col">
                            <textarea asp-for="Message" class="form-control" rows="4" cols="30" autocomplete="off" id="textarea"></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" float=right id="buttonSubmit" value="Book Now!">
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>
</section>


<div id="modelDoctor">
    <div class="leftData">
        <div class="row" id="InfoDoctors">

            <div class="col">
                <div class="doctorFirstName"></div>
                <div class="doctorLastName"></div>
                <div class="doctorAge"></div>
            </div>
            <div class="col imageSize" id="doctorPictureImg">
            </div>

        </div>
        <div class="doctorInformation">
            <h4>Information:</h4> <p>
                Information about Doctors
            </p>
        </div>
    </div>
</div>






@**@
@*<script type="text/javascript" src="~/js/calendarPicker.js"></script>*@



<script type="text/javascript">


    //    for (var i = 0; i < name.length; i++) {
    //        console.log(name[i]);
    //    }
</script>

<script>
   
</script>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts
    {
    <script type="text/javascript">

        //Get Data for CalendarDateAndPicker
        $(function() {
            $("#myBtn").click(function () {
               
                var stud = {
                    DoctorFullName: $("#doctorName").val(),
                    ProcedureFullName: $("#procedureNameSelect").val()
                };
                var data2send = { std: stud };
                $.ajax({
                    url: '@Url.Action("GetClientDoctorAndProcedureDuration")',
                    method: "POST",
//                    data: test,
                    async: true,
                    data: data2send,
                    success: function(data) {
                        window.something = setRequestData(data);
                        modal.style.display = "block";
                        eliminateNonAvailableDay(data);
                        setRequestData(data);
                    },
                    error: function () {

                    }
                });

                //Show model for DateTimePicker
                var modal = document.getElementById('myModal');
                var btn = document.getElementById("myBtn");
                var span = document.getElementsByClassName("close")[0];
                span.onclick = function () {
                    modal.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                }


                return false;
            });
        });

        //Get all doctors and procedures name
        $.ajax({
            url: '@Url.Action("GetDoctorsAndProcedures")',
            method: "POST",
//                    data: test,
            async: true,
            data: "",
            success: function(data) {
                console.log(data);
                var select = document.getElementById("procedureNameSelect");
                for (var i = 0; i < data.proceduresName.length; i++) {
                    var opt = document.createElement('option');
                    opt.value = data.proceduresName[i].name;
                    opt.innerHTML = data.proceduresName[i].name;
                    select.appendChild(opt);
                }


                select = document.getElementById("doctorName");
                for (var i = 0; i < data.doctorsNames.length; i++) {
                    var opt = document.createElement('option');
                    opt.value = data.doctorsNames[i].fullName;
                    opt.innerHTML = data.doctorsNames[i].fullName;
                    select.appendChild(opt);
                }


                var data2 = @Html.Raw(JsonConvert.SerializeObject(this.Model));
                if (data2 != null) {

                    console.log(data2);
                    if (data.ProcedureFullName != "") {
                        document.getElementById("procedureNameSelect").value = data2.ProcedureName;
                    }
                    if (data.ProcedureFullName != "") {
                        document.getElementById("doctorName").value = data2.DoctorName;
                    }
                }

            },
            error: function() {
            }
        });


        //get doctor data when click info button on doctor
        $(function() {
            $(".infoDoctor").click(function () {
                console.log(document.getElementById("doctorName").value);
             
                if (document.getElementById("doctorName").value !="") {
                    var data2send = $("#doctorName").val();
                    $.ajax({
                        url: '@Url.Action("GetDoctorData")',
                        method: "POST",
//                    data: test,
                        async: true,
                        data: { fullName: data2send },
                        success: function (data) {
                            // Set First Name
                            var firstNameElement = document.getElementsByClassName("doctorFirstName")[0];
                            firstNameElement.innerHTML = "<h3>Firstname:" + data.firstName + "</h3>";
                            // Set Last Name
                            var lastNameElement = document.getElementsByClassName("doctorLastName")[0];
                            lastNameElement.innerHTML = "<h3>Lastname: " + data.lastname + "</h3>";
                            // Set Age
                            var todayDate = new Date();
                            var doctorBirthday = data.birthDay.split(/[-T:]/)
                            var doctorBirthdayDate = new Date(doctorBirthday[0], doctorBirthday[1], doctorBirthday[2]);
                            var ageNumber = todayDate.getFullYear() - doctorBirthdayDate.getFullYear();
                            var ageElement = document.getElementsByClassName("doctorAge")[0];
                            ageElement.innerHTML = "<h3>Age:" + ageNumber.toString() + "</h3>";

                            //Doctor image

                            var sourceDoctorImage = document.getElementById("doctorPictureImg");
                            sourceDoctorImage.innerHTML = "";

                            var url = data.urlImage.replace("~/wwwroot", "");
                            var newImage = document.createElement('img');
                            newImage.id = "doctorPicture";
                            newImage.src = url;
                            document.getElementById("doctorPictureImg").appendChild(newImage);


                            //Doctor Information
                            var information = document.getElementsByClassName("doctorInformation")[0]
                            information.innerHTML = "<h4>Information</h4>" + "<p>" + data.information + "</p>";
                            var infoDoctors = document.getElementById("InfoDoctors");
                            infoDoctors.style.display = "block";
                        },

                  
                        error: function() {
   
                        }
                    });
                   
                }
                //Show Modal
                if (document.getElementById("doctorName").value === "") {
                    var infoDoctors = document.getElementById("InfoDoctors");
                    infoDoctors.style.display = "none";
                }
                $('#modelDoctor').show();
                var popupWidth = $('#modelDoctor').outerWidth();
                var popupHeight = $('#modelDoctor').outerHeight();

                if (mouseX + popupWidth > windowWidth)
                    popupLeft = mouseX - popupWidth;
                else
                    popupLeft = mouseX;

                if (mouseY + popupHeight > windowHeight)
                    popupTop = mouseY - popupHeight;
                else
                    popupTop = mouseY;

                if (popupLeft < $(window).scrollLeft()) {
                    popupLeft = $(window).scrollLeft();
                }

                if (popupTop < $(window).scrollTop()) {
                    popupTop = $(window).scrollTop();
                }

                if (popupLeft < 0 || popupLeft == undefined)
                    popupLeft = 0;
                if (popupTop < 0 || popupTop == undefined)
                    popupTop = 0;

                $('#modelDoctor').offset({ top: popupTop, left: popupLeft });
                return false;
            });
        });


        var mouseX, mouseY, windowWidth, windowHeight;
        var popupLeft, popupTop;
        $(document).ready(function() {
            $(document).mousemove(function(e) {
                mouseX = e.pageX;
                mouseY = e.pageY;
                //To Get the relative position
                if (this.offsetLeft != undefined)
                    mouseX = e.pageX - this.offsetLeft;
                if (this.offsetTop != undefined)
                    mouseY = e.pageY;
                - this.offsetTop;

                if (mouseX < 0)
                    mouseX = 0;
                if (mouseY < 0)
                    mouseY = 0;

                windowWidth = $(window).width() + $(window).scrollLeft();
                windowHeight = $(window).height() + $(window).scrollTop();
            });

        });

        $(document).click(function(e) {
            var target = e.target;

            if (!$(target).is('.infoDoctor') && !$(target).parents().is('.infoDoctor')) {
                $('#modelDoctor').hide();
            }
        });


    </script>
    <script rel="text/javascript" src="~/js/adminScriptFin.js"></script>

}