﻿@using MedicalData.Models
@model IEnumerable<Medical.ViewModels.DoctorViewModel>


@{
    int idUser = 1;
    ViewData["Title"] = "Doctors List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>
    .element :hover {
        background: #D6DBE9;
    } 
</style>

<div class="textHeader">
    <h2>Doctors List</h2>

</div>

<div class="table">
    <input type="text" class="form-control" id="myInput" onkeyup="searchFilter()" placeholder="Search for names.." title="Type in a name">
    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th style="cursor:pointer;" onclick="sortTable(0)">#</th>
                    <th style="cursor:pointer;" onclick="sortTable(1)">Firstname</th>
                    <th style="cursor:pointer;" onclick="sortTable(1)">Lastname</th>
                    <th style="cursor:pointer;" onclick="sortTable(3)">Birthday</th>
                    <th style="cursor:pointer;" onclick="sortTable(4)">Username</th>
                    <th style="cursor:pointer;" onclick="sortTable(5)">Information</th>
                </tr>
            </thead>
            <tbody  class="element">
                @foreach (var doctor in Model)
                {
@*                    <tr onmouseover="style.background='orange'; "  onmouseout="style.background='white';">*@
                    <tr>
                        <td>@idUser@{ idUser++;}</td>
                        <td>
                             @Html.DisplayFor(modelItem => doctor.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => doctor.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => doctor.BirthDay)
                        </td>
                        <td>
                            @doctor.UserName
                            @*                            @Html.DisplayFor(modelItem => doctor.UserName)*@
                        </td>
                        <td style="max-width: 200px;">
                            @Html.DisplayFor(modelItem => doctor.Information)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function alertshow(id) {
        console.log(id);
    }
</script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/js/adminScript.js"></script>

