﻿@model Medical.Models.BookingViewModels.ClientListingModel
@{
    int idUser= 1;
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="textHeader">
    <h2>Clients List</h2>

</div>

<div class="table">
    <input type="text" class="form-control" id="myInput" onkeyup="searchFilter()" placeholder="Search for names.." title="Type in a name">
    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th style="cursor:pointer;" onclick="sortTable(0)">#</th>
                    <th style="cursor:pointer;" onclick="sortTable(1)">First name</th>
                    <th style="cursor:pointer;" onclick="sortTable(2)">Last name</th>
                    <th style="cursor:pointer;" onclick="sortTable(3)">Doctor name</th>
                    <th style="cursor:pointer;" onclick="sortTable(4)">Procedure</th>
                    <th style="cursor:pointer;" onclick="sortTable(5)">Date Time</th>
                    <th style="cursor:pointer;" onclick="sortTable(6)">Record Time</th>
                    <th style="cursor:pointer;" onclick="sortTable(7)">Phone number</th>
                    <th style="cursor:pointer;" onclick="sortTable(8)">Email</th>
                    <th style="cursor:pointer; max-width: 150px;" onclick="sortTable(9)">Comment</th>
                </tr>
            </thead>
            <tbody>
                

            @foreach (var asset in Model.Clients)
                {
                    <tr>
                        <td>@idUser@{ idUser++;}</td>
@*                        <td>@asset.Id</td>*@
                        <td>@asset.Result.FirstName</td>
                        <td>@asset.Result.LastName</td>
                        <td>@asset.Result.DoctorName</td>
                        <td>@asset.Result.Procedure</td>
                        <td>@asset.Result.DateTime</td>
                        <td>@asset.Result.RecordTime</td>
                        <td>@asset.Result.Telephone</td>
                        <td>@asset.Result.Email</td>
                        <td style="max-width: 150px;">@asset.Result.Comment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/js/adminScript.js"></script>



