
@model IEnumerable<MedicalData.Models.Office>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                 @Html.DisplayFor(modelItem => item.Adress)
            </td>


            <td>
                 @Html.DisplayFor(modelItem => item.Name)
            </td>


            <td>
                 @Html.DisplayFor(modelItem => item.Telephone)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


